/.project
/.gitignore
target
.classpath
.project
.tern-project
.settings
/Bibliotheque-Angular/.editorconfig
/Bibliotheque-Angular/.angular-cli.json
/Bibliotheque-Angular/src/assets/.gitkeep
/Bibliotheque-Angular/